
//画像系、webpackのraw-loaderだとURLエンコードしてくれないので
//styleで読むこむここにとりあえず書く
.title{
	background: url("./img/title.png");
}
.icon-s-after:after {
	content: "";
	width: 16px;
	min-width: 16px;
	height: 16px;
	min-height: 16px;
}

.arrow-bottom:after {
	background: url("./img/arrow-bottom.png")
}

body{
	padding-top: 55px;
	overflow: visible;
	// font-family: "Hiragino Kaku Gothic ProN","Meiryo";
}

.container{
	overflow-y: auto;
	padding-bottom: 20px;
}

*{
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

