.rank-row {
	display: flex;
	.team-icon-wraper {
		display: flex;
		align-items: center;
	}
}

.syakkin-row, .tyokin-row{
	display: flex;
	flex-wrap: wrap;
	width: 300px;
}

.syakkin-row {
	justify-content: flex-end;
}
.tyokin-row {
	justify-content: flex-start;
}
.juni {
	display: flex;
	align-items: center;
}